@import "tailwindcss";
@config "~/../tailwind.config.ts";
@plugin "@tailwindcss/typography";
@plugin "daisyui";

@layer base {
  html {
    font-size: 18px;
  }
}

@plugin "daisyui/theme" {
  name: "feathers";
  default: true;
  prefersdark: false;
  color-scheme: dark;

  --color-base-100: oklch(3.6% 0.01 270);
  --color-base-200: oklch(15% 19% 307);
  --color-base-300: oklch(35% 44% 287);
  --color-base-300-old: oklch(17.6% 0.04 270);
  --color-base-content: oklch(93.3% 0.01 260);
  --color-primary: oklch(48% 39% 348);
  --color-primary-content: oklch(100% 0 0);
  --color-secondary: oklch(60% 44% 272);
  --color-secondary-content: oklch(0% 0 0);
  --color-accent: oklch(34.1% 0.13 297.4);
  --color-accent-content: oklch(100% 0 0);
  --color-neutral: oklch(20.1% 0.05 260.7);
  --color-neutral-content: oklch(100% 0 0);
  --color-info: oklch(56.8% 0.14 255.1);
  --color-info-content: oklch(94.5% 0.01 230);
  --color-success: oklch(77.1% 0.13 149.9);
  --color-success-content: oklch(94.5% 0.01 230);
  --color-warning: oklch(89.5% 0.17 97.7);
  --color-warning-content: oklch(94.5% 0.01 230);
  --color-error: oklch(64.1% 0.21 29.3);
  --color-error-content: oklch(94.5% 0.01 230);

  /* border radius */
  --radius-selector: 1rem;
  --radius-field: 1rem;
  --radius-box: 0.5rem;       /* from --rounded-box */

  /* base sizes */
  --size-selector: 0.25rem;
  --size-field: 0.25rem;      /* from --rounded-btn */

  /* border size */
  --border: 1px;

  /* Card */
  --card-fs: 1rem;

  /* effects */
  --depth: 1;
  --noise: 0;

  --invert-logo: 0;

  /* old stuff */
  /* --radius-box: 1rem;           */
  /* --radius-btn: 999rem;         */
  /* --radius-badge: 1.9rem; */

  /* --animation-btn: 0.25s;       */
  /* --animation-input: 0.2s;      */
  /* --btn-text-case: none;        */
  /* --border-btn: 1px;            */
  /* --navbar-padding: .5rem;     */
  /* --tab-border: 1px;            */
  /* --tab-radius: 0.5rem;         */

  /* --- Unused/legacy variables (no direct DaisyUI mapping) --- */
  /*
    --primary-focus: #ec5f62;
    --secondary-focus: #553c9a;
    --accent-focus: #2d1f51;
    --neutral-focus: #405a91;
  */
}

html {
  background-color: var(--color-base-200);
}

html, body, #__nuxt {
  font-family: Poppins, sans-serif;
  height: 100%;
  width: 100%;
}

.prose h1 a,
.prose h2 a,
.prose h3 a,
.prose h4 a,
.prose h5 a,
.prose h6 a {
  text-decoration: none !important;
}
